.BoardPage {
  background-color: #222;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.94), rgba(0, 0, 0, 0.92)), url('../assets/secret-hitler.png');
  background-size: cover, 40% auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-bottom: 20px;
  box-sizing: border-box;
}