.PlayerPage {
  background-color: #888;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.92), rgba(0, 0, 0, 0.88)), url('../assets/secret-hitler.png');
  background-size: cover, 80% auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: scroll;
  /* position: relative; */
}