.Button {
  display: block;
  font-size: 18px;
  line-height: 24px;
  padding: 8px;
  border-radius: 6px;
  font-weight: normal;
  border: none;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: 'Germania One', sans-serif;
  cursor: pointer;
  box-shadow: 0 2px 8xpx rgba(0, 0, 0, 0.15);
}

.Button.padding {
  margin: 15px 0;
}

.Button.white {
  background-color: white;
  border: 2px solid white;
  color: black;
}

.Button.white:hover {
  background-color: #f0f0f0;
}

.Button.yellow {
  background-color: #ffaa33;
  border: 2px solid #ffaa33;
  color: black;
}

.Button.yellow:hover {
  background-color: #ffbb44;
}

.Button.red {
  background-color: #933;
  color: white;
  border: 2px solid #933;
}

.Button.red:hover {
  background-color: #a44;
}

.Button.black {
  background-color: black;
  color: white;
  border: 2px solid #ddd;
}

.Button.black:hover {
  background-color: #181818;
}

.Button.disabled {
  background-color: transparent;
  color: #999;
  border: 2px solid #999;
  cursor: default;
}

.Button.large {
  padding: 16px 8px;
  font-size: 20px;
}

.Button.large.padding {
  margin: 20px 0;
}

.Button.small {
  padding: 6px 8px;
  font-size: 17px;
  line-height: 18px;
}

.Button.small.padding {
  margin: 10px 0;
}