.CardSelector {
  position: relative;
  margin: 40px 0 0 0;
  height: 280px;
}

.QuestionMark {
  text-align: center;
  margin: 90px 0 -90px;
  height: 0;
  color: #888;
  font-size: 120px;
  line-height: 120px;
  text-align: center;
  font-family: 'Germania One', sans-serif;
}

.PolicyCard, .PartyCard {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -75px;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.2);
  width: 150px;
  height: 224px;
  background-size: 107% auto;
  background-position: 50% 70%;
  border-radius: 12px;
  backface-visibility: hidden;
  box-shadow: 0 2px 24px rgba(0, 0, 0, 0.25);
}

.PolicyCard.Fascist {
  background-image: url(../assets/fascist_article.png);
}

.PolicyCard.Communist {
  background-image: url(../assets/communist_article.png);
}

.PolicyCard.Liberal {
  background-image: url(../assets/liberal_article.png);
}

.PartyCard.Fascist {
  background-image: url(../assets/fascist_party.png);
}

.PartyCard.Communist {
  background-image: url(../assets/communist_party.png);
}

.PartyCard.Communist.Gray {
  background-image: url(../assets/communist_party_gray.png);
}

.PartyCard.Liberal {
  background-image: url(../assets/liberal_party.png);
}

.Buttons {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
}

.CentreButton {
  flex: 0 1 200px;
}

.Buttons button {
  flex: 1 1 0;
  margin-left: 15px;
}

.Buttons button:first-child {
  margin-left: 0;
}