.JoinForm {
  margin: 30px 0;
}

.JoinForm .Row {
  margin: 15px 0;
}

.JoinForm label {
  display: block;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 10px;
}

.JoinForm input[type="text"] {
  background-color: #444;
  color: white;
  border: 2px solid #ccc;
  font-size: 18px;
  padding: 8px 12px;
  line-height: 24px;
  border-radius: 6px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.JoinForm input[type="text"]:focus {
  border: 2px solid #ffaa33;
}

.JoinForm input[type="submit"]:disabled {
  opacity: 1;
}