.PlayerApp {
  color: white;
  padding-bottom: 60px;
}

.Container {
  width: 85%;
  max-width: 450px;
  margin: 0 auto;
}

.Message {
  margin: 25px 0;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.Message.fixedHeight {
  height: 40px;
}

.Message.large {
  font-size: 18px;
}

.Message.dead {
  color: #d44;
  font-weight: bold;
  font-size: 18px;
}

.Message.padded {
  margin: 40px 0;
}

.Message strong {
  font-weight: bold;
  color: #ffaa33;
}

.Explanation {
  margin: 30px auto;
  text-align: center;
  font-size: 15px;
  width: 15em;
}

.SecretRole {
  font-size: 32px;
  color: #ffbb44;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
  letter-spacing: 0.1em;
  font-family: 'Germania One', sans-serif;
}

.PlayerTable {
  margin: 30px 0 10px;
  width: 100%;
  border-collapse: collapse;
}

.PlayerTable td {
  font-size: 17px;
  line-height: 1.5;
  padding: 6px 0;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  font-weight: bold;
}

.PlayerTable td + td {
  color: #ffbb44;
  font-weight: normal;
}

.RoleTab {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  box-sizing: border-box;
  font-size: 16px;
  overflow: hidden;
  pointer-events: none;
}

.RoleTab .Tab {
  padding: 6px 0 8px;
  line-height: 1.4;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: black;
  margin: 0 auto;
  width: 180px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  border: 1px solid #bbb;
  border-bottom: none;
  cursor: pointer;
  pointer-events: all;
}

.RoleTab .Role {
  padding: 9px 0 11px;
  line-height: 20px;
  background-color: #b44;
  text-transform: uppercase;
  border-top: 1px solid white;
  cursor: pointer;
  pointer-events: all;
}