.PlayerApp {
  color: white;
}

.Container {
  width: 80%;
  max-width: 450px;
  margin: 0 auto;
}

.Message {
  margin: 30px 0;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.Message.large {
  font-size: 18px;
}

.Message.dead {
  color: #d44;
  font-weight: bold;
  font-size: 18px;
}

.Message.padded {
  margin: 50px 0;
}

.Message strong {
  font-weight: bold;
  color: #ffaa33;
}