.Content {
  flex: 1 1 0;
  position: relative;
  overflow: hidden;
}

.Connecting {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  padding: 1em 2em 1.15em;
  line-height: 1;
}

.Board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  perspective: 800px;
  transition: opacity 0.75s;
}

.Board.fade {
  opacity: 0.15;
}