.PolicyTracker {
  background-color: black;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
}

.PolicyTracker.Liberal {
  padding: 17px;
  border: 3px solid #0093FF;
}

.PolicyTracker.Fascist {
  padding: 17px;
  border: 3px solid #FF0046;
}

.PolicyTracker.Communist {
  padding: 17px;
  border: 3px solid #D60E00;
}

.PolicyTracker .Tile {
  background-size: 90% auto;
  background-position: 50% 50%;
  flex: 1 1 0;
}

.PolicyTracker .Tile + .Tile {
  border-left: 2px dashed #444;
}

.Tile.liberal-win {
  background-image: url(../assets/board_liberal_win.png);
}

.Tile.fascist-win {
  background-image: url(../assets/board_fascist_win.png);
}

.Tile.communist-win {
  background-image: url(../assets/board_communist_win.png);
}

.Tile.investigate {
  background-image: url(../assets/board_investigate.png);
}

.Tile.election {
  background-image: url(../assets/board_election.png);
}

.Tile.policy-peak {
  background-image: url(../assets/board_policy_peak.png);
}

.Tile.kill {
  background-image: url(../assets/board_kill.png);
}

.Tile.kill-veto {
  background-image: url(../assets/board_kill_veto.png);
}

.Tile.bugging {
  background-image: url(../assets/board_bugging.png);
}

.Tile.radicalisation {
  background-image: url(../assets/board_radical.png);
}

.Tile.fiveyearplan {
  background-image: url(../assets/board_fiveyearplan.png);
}

.Tile.congress {
  background-image: url(../assets/board_congress.png);
}

.Tile.confession {
  background-image: url(../assets/board_confession.png);
}

.PolicyCard {
  position: absolute;
  width: 150px;
  height: 224px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.PolicyCard .Front, .PolicyCard .Back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 107% auto;
  background-position: 50% 70%;
  backface-visibility: hidden;
  border-radius: 12px;
}

.PolicyCard .Fascist {
  background-image: url(../assets/fascist_article.png);
}

.PolicyCard .Communist {
  background-image: url(../assets/communist_article.png);
}

.PolicyCard .Liberal {
  background-image: url(../assets/liberal_article.png);
}

.PolicyCard .Back {
  transform: rotateY(-180deg);
  background-image: url(../assets/back_article.png);
}

.Chaos {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font-size: 7vw;
  font-family: 'Germania One', sans-serif;
  text-transform: uppercase;
  -webkit-text-stroke: 0.02em black;
  text-shadow: 0.05em 0.05em black;
  letter-spacing: 0.05em;
  animation: growshrink 2s infinite;
  text-align: center;
  line-height: 1em;
  margin-top: -3.5vw;
}

@keyframes growshrink {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.1); }
  100% { transform: scale(1); }
}