

.PolicyTracker {
  background-color: black;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
}

.PolicyTracker .Tile {
  background-size: 90% auto;
  background-position: 50% 50%;
  flex: 1 1 0;
}

.PolicyTracker .Tile + .Tile {
  border-left: 2px dashed #444;
}

.Tile.fascist-win {
  background-image: url(../assets/board_fascist_win.png);
}

.Tile.liberal-win {
  background-image: url(../assets/board_liberal_win.png);
}

.Tile.investigate {
  background-image: url(../assets/board_investigate.png);
}

.Tile.election {
  background-image: url(../assets/board_election.png);
}

.Tile.policy-peak {
  background-image: url(../assets/board_policy_peak.png);
}

.Tile.kill {
  background-image: url(../assets/board_kill.png);
}

.Tile.kill-veto {
  background-image: url(../assets/board_kill_veto.png);
}

.PolicyCard {
  position: absolute;
  width: 150px;
  height: 224px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.PolicyCard .Front, .PolicyCard .Back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 107% auto;
  background-position: 50% 70%;
  backface-visibility: hidden;
  border-radius: 12px;
}

.PolicyCard .Fascist {
  background-image: url(../assets/fascist_article.png);
}

.PolicyCard .Communist {
  background-image: url(../assets/communist_article.png);
}

.PolicyCard .Liberal {
  background-image: url(../assets/liberal_article.png);
}

.PolicyCard .Back {
  transform: rotateY(-180deg);
  background-image: url(../assets/back_article.png);
}